body {
    margin: 0;
    min-width: 250px;
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  li {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  li:hover {
    background: #4CAF50;
  }
  input {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    /* float: left; */
    font-size: 16px;
  }  