body{
    font-family: Courier New, Courier, monospace;   
    margin-top: 200px;
    text-align: center;  
    color: white;
}
#digital_clock{
    font-size: 100px;
    font-weight: 300px;
}